

#container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    
}

.sub-container {
    background-color: #0D98BA;
    color: white;
    padding: 20px;
}

.main_header {                      /* Header */
    text-align: center;
}


.content {                      /*Content*/
   
    display: flex;
    justify-content: space-evenly;

    
}




.main{                          /*Main Content*/
width: 400px;
border: solid;
padding: 10px;


}



.signup {                           /*Sign-Up*/
width: 400px;
border: solid;
padding: 10px;
}




.plans {                            /*Plans*/
    display: flex;
    justify-content: space-between;
  }

  /*figure out how*/