

#container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    
}

.sub-container {
    background-color: #0D98BA;
    border-radius: 15px;
    color: white;
    padding: 20px;
}

.main_header {                      /* Header */
    text-align: center;
}


.content {                      /*Content*/
   
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right:auto;
    

    
}




.main{                          /*Main Content*/
width: 400px;
border: solid;
border-radius: 15px;
padding: 10px;



}



.signup {                           /*Sign-Up*/
width: 400px;
border: solid;
border-radius: 15px;
padding: 10px;
text-align:justify
}




.plans {                            /*Plans*/
    display: flex;
    justify-content: space-between;
  }


.sub-plans {
    padding: 25px;
}



  /*figure out how*/